kite-spring/src/main/resources/META-INF/kite-spring.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<xsd:schema 
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"  
        xmlns:beans="http://www.springframework.org/schema/beans"  
        targetNamespace="https://github.com/developframework/kite/schema"
        elementFormDefault="qualified"  
        attributeFormDefault="unqualified">  
    <xsd:import namespace="http://www.springframework.org/schema/beans"/>  
  
    <xsd:element name="scan">  
        <xsd:complexType>
            <xsd:complexContent>  
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="locations" type="xsd:string" use="required"/>  
                    <xsd:attribute name="object-mapper-ref" type="xsd:string"/>  
                </xsd:extension>  
            </xsd:complexContent>  
        </xsd:complexType>  
    </xsd:element>  
</xsd:schema>